@charset "UTF-8";
/*
 * File Name: style.css
 * Description: サイト固有のスタイルを定義します。
 * -------------------------------------------------- */

/*
 Base ベース
-------------------------------------------------------------------------------- */
body {
	position: relative;
	color: #606060;
	font: 14px/1.231 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	background: #fcfaf0 url(../images/bg.png);
}
body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #665d4e url(../images/bg-aside.png);
	-webkit-box-shadow:  0 0 4px #bda689;
	-moz-box-shadow:  0 0 4px #bda689;
	box-shadow:  0 0 4px #bda689;
}

/*
 Common 共通
-------------------------------------------------------------------------------- */
/* Anchor link アンカーリンク
------------------------------------------------------------ */
a:link, a:visited {
	color: #7c7364;
	text-decoration: underline;
}
a:hover {
	color: #bda783;
	text-decoration: none;
}
a:active {
	color: #e1820b;
}
.active a {
	color: #e1820b;
}
/* List リスト
------------------------------------------------------------ */
ol {
	margin: 20px 0;
}
ol li {
	margin-left: 1.6em;
	margin-bottom: 8px;
	list-style-type: square;
}
/* Form フォーム
------------------------------------------------------------ */
input[type="text"] {
	color: #7c7364;
	font-size: 12px;
	width: 265px;
	border: 1px solid #ddd1b2;
	background-color: #fffcf8;
	padding: 6px 8px;
	margin: 10px 0;
	-webkit-box-shadow: 0 0 3px rgba(189,166,137,.5) inset;
	-moz-box-shadow: 0 0 3px rgba(189,166,137,.5) inset;
	box-shadow: 0 0 3px rgba(189,166,137,.5) inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* Headline 見出し
------------------------------------------------------------ */
/* // 主要の見出し */
.headline-primary {
	color: #7c7364;
	font-size: 24px;
	font-weight: bold;
	font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho';
	border-bottom: 2px solid #665d4e;
	padding: 0 0 5px 10px;
	letter-spacing: .25em;
}
/* // 標準の見出し */
.headline-normal {
	color: #7c7364;
	font-size: 18px;
	font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho';
}
.headline-normal:before {
/*	content: url(../images/point.png); */
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAADhgguTICAZAAAAAXRSTlMAQObYZgAAABtJREFUeF5lyLENAAAAgjD/v5nBxBFJJwK2/hfwWRehX/ibKAAAAABJRU5ErkJggg==);
	padding-right: 20px;
}
/* Thumbnail サムネイル
------------------------------------------------------------ */
.thumbnail {
	border: solid #fff;
	box-shadow: 0 0 2px #bda689;
	-webkit-box-shadow: 0 0 2px #bda689;
	-moz-box-shadow: 0 0 2px #bda689;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.thumbnail img {
	display: block;
}

/*
 Outline アウトライン
-------------------------------------------------------------------------------- */
.outline {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}
.outline-primary {
	margin-bottom: 80px;
}

/*
 Global header グローバルヘッダー
-------------------------------------------------------------------------------- */
.header {
	display: table;
	width: 100%;
	padding: 40px 0;
}
/* Logo ロゴ
------------------------------------------------------------ */
.logo {
	float: left;
	text-align: center;
}
/* Global navigation グローバルナビゲーション
------------------------------------------------------------ */
.globalnav {
	float: right;
	width: 320px;
	margin-top: 10px;
}
.globalnav a {
	font-size: 13px;
/*	font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho';*/
	font-weight: bold;
}
.globalnav ul {
	display: table;
	width: 320px;
}
.globalnav li {
	display: table-cell;
	text-align: center;
}
@media screen and (min-width:640px) {
	/* // ウィンドウ幅640pxより大きいときに適用される */
	.globalnav {
		float: none;
		display: table-cell;
		vertical-align: middle;
		margin-left: auto;
	}
}

/*
 Contents コンテンツ
-------------------------------------------------------------------------------- */
.contents .bodytext {
	margin-left: 20px;
}
.contents p {
	margin: 20px 0;
}
.contents-section {
	margin: 40px 10px;
}

/*
 Display トップイラスト
-------------------------------------------------------------------------------- */
.display {
	margin-bottom: 40px;
}
.display p {
	font-size: 13px;
	text-align: center;
	margin: 0 10px;
}
/* Display thumbnail
------------------------------------------------------------ */
.display-thumbnail {
	position: relative;
	display: block;
	border-width: 4px;
	margin-bottom: 20px;
}
.display-thumbnail:before {
	content: "";
	position: absolute;
	top: -24px;
	left: 50%;
	margin-bottom: -4px;
	margin-left: -79px;
	background-image: url(../images/tape.png);
	width: 158px;
	height: 48px;
}
.display-thumbnail:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-bottom: -4px;
	margin-left: -120px;
	background-image: url(../images/shadow-image.png);
	width: 240px;
	height: 10px;
}

/*
 Archive ブログ記事のアーカイブ
-------------------------------------------------------------------------------- */
.archive {
	display: table;
	min-height: 540px;
}
.archive a {
	display: block;
	text-decoration: none;
	padding: 10px;
}
/* Archive post ブログ記事
------------------------------------------------------------ */
.archive-post {
	background-color: #fffcf6;
	width: 300px;
	min-height: 250px;
	margin: 0 10px 20px;
	float: left;
	-webkit-box-shadow: 0 0 4px rgba(189,166,137,.5);
	-moz-box-shadow: 0 0 4px rgba(189,166,137,.5);
	box-shadow: 0 0 4px rgba(189,166,137,.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.archive-post:active {
	background-color: #f5ebd9;
	-webkit-box-shadow: 0 0 4px rgba(189,166,137,.5) inset;
	-moz-box-shadow: 0 0 4px rgba(189,166,137,.5) inset;
	box-shadow: 0 0 4px rgba(189,166,137,.5) inset;
}
.archive-post p {
	color: #606060;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 2px solid #665d4e;
	line-height: 1.5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/* Archive thumbnail ブログ記事のサムネイル
------------------------------------------------------------ */
.archive-thumbnail {
	position: relative;
	display: block;
	border-width: 2px;
	width: 280px;
	height: 100px;
	background-color: #eee7dc;
	background-position: center;
	margin-bottom: 15px;
}
.archive-thumbnail:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-bottom: -2px;
	margin-left: -120px;
	background-image: url(../images/shadow-image.png);
	width: 240px;
	height: 10px;
}
/* Archive header
------------------------------------------------------------ */
/* // ブログ記事の見出し */
.archive-headline {
	color: #7b7263;
	font-size: 18px;
	margin-bottom: 3px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/* // ブログ記事の投稿日 */
.archive-postdate {
	color: #e1820b;
	font-size: 12px;
	font-weight: bold;
}
/* Archive more ブログ記事をもっと見る
------------------------------------------------------------ */
.archive-more {
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	margin-top: 10px;
}

/*
 Galleries ギャラリー
-------------------------------------------------------------------------------- */
.galleries {
	margin-top: 20px;
	letter-spacing: -.40em;
}
.galleries a {
	display: inline-block;
	border: 2px solid #fff;
	width: 64px;
	height: 64px;
	margin: 0 10px 10px 0;
	line-height: 0;
	-webkit-box-shadow: 0 0 2px rgba(189,166,137,.5);
	-moz-box-shadow: 0 0 2px rgba(189,166,137,.5);
	box-shadow: 0 0 2px rgba(189,166,137,.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.galleries a:hover {
	border-color: #bda783;
}

/*
 Social list ソーシャルリスト
-------------------------------------------------------------------------------- */
/*
 ex.)
 <ul class="social">
 	<li class="twitter">example</li>
 	<li class="facebook">example</li>
 		:
 </ul>
*/
.social li {
	position: relative;
	padding-left: 30px;
	line-height: 2.2;
}
.social li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	background: url(../images/social.png) no-repeat;
	width: 20px;
	height: 20px;
}
/* // Twitterアイコン付与 */
.social .twitter:before {
	background-position: 0 0;
}
/* // Facebookアイコン付与 */
.social .facebook:before {
	background-position: 0 -22px;
}
/* // Pixivアイコン付与 */
.social .pixiv:before {
	background-position: 0 -44px;
}
/* // @CREATORZアイコン付与 */
.social .creatorz:before {
	background-position: 0 -66px;
}

/*
 Global footer グローバルフッター
-------------------------------------------------------------------------------- */
.footer {
	color: #bab9b3;
	font-size: 13px;
	background: #665d4e url(../images/bg-aside.png);
	padding: 30px 0;
	-webkit-box-shadow:  0 0 4px #bda689;
	-moz-box-shadow:  0 0 4px #bda689;
	box-shadow:  0 0 4px #bda689;
}
.footer a:link, .footer a:visited {
	color: #bab9b3;
}
.footer a:hover {
	color: #bda783;
	text-decoration: none;
}
.footer a:active {
	color: #e1820b;
}
/* // フッターのラッパー要素 */
.footer .wrapper {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 40px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Footer section フッターのセクション
------------------------------------------------------------ */
.footer-section {
	display: table-cell;
	min-height: 200px;
}
/* Footer headline フッターの見出し
------------------------------------------------------------ */
.footer-headline {
	color: #d4d2c5;
	font-size: 24px;
	font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho';
	margin-bottom: 20px;
}
/* Find me at
------------------------------------------------------------ */
.find-me {
	position: relative;
	padding-left: 100px;
}
.find-me:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/profile.png) no-repeat;
	width: 80px;
	height: 80px;
}
/* Tweet...
------------------------------------------------------------ */
.tweet {
	position: relative;
	display: none;
	padding-left: 40px;
}
.tweet:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -100px;
	background: url(../images/shadow-footer_line.png) no-repeat;
	width: 10px;
	height: 200px;
}
@media screen and (min-width:640px) {
	/* // ウィンドウ幅640pxより大きいときに適用される */
	.tweet {
		display: block !important;
	}
}
/* Copyright コピーライト
------------------------------------------------------------ */
.copyright {
	font-size: 14px;
	text-align: center;
}